Spam Mail Analysis

Importing Dependencies

In [57]:
import numpy as np 
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import  TfidfVectorizer
from sklearn.linear_model import  LogisticRegression
from sklearn.metrics import accuracy_score

Dataset Loading

In [58]:
data_set = pd.read_csv('spam.csv')

In [59]:
data_set.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [60]:
data_set.isnull().sum()

Category    0
Message     0
dtype: int64

Label Encoding

In [61]:
data_set.loc[data_set['Category']=='spam', 'Category',]=0
data_set.loc[data_set['Category']=='ham', 'Category',]=1

In [62]:
data_set.head()

  Category                                            Message
0        1  Go until jurong point, crazy.. Available only ...
1        1                      Ok lar... Joking wif u oni...
2        0  Free entry in 2 a wkly comp to win FA Cup fina...
3        1  U dun say so early hor... U c already then say...
4        1  Nah I don't think he goes to usf, he lives aro...

In [63]:
data_set.describe()

        Category                 Message
count       5572                    5572
unique         2                    5157
top            1  Sorry, I'll call later
freq        4825                      30

In [64]:
X = data_set['Message']
Y = data_set['Category']

Train Test split

In [65]:
X_train , X_test , Y_train, Y_test = train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=1)

Feature Extraction

In [66]:
#transform the text data to feature vectors that can be used as input to Logistic Regression
feature_extraction = TfidfVectorizer(min_df=1,stop_words='english',lowercase='True')

X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)


#converting Y_train and Y_test values as integers

Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

Training Model

Logistic Regression

In [67]:
model = LogisticRegression()

In [68]:
#training logistic reg. with training data

model.fit(X_train_features,Y_train)

LogisticRegression()

Evaluating Model

In [69]:
X_train_prediction = model.predict(X_train_features)
X_train_accuracy = accuracy_score(X_train_prediction,Y_train)
print(X_train_accuracy)

0.9685887368184878

In [70]:
X_test_prediction = model.predict(X_test_features)
X_test_accuracy = accuracy_score(X_test_prediction,Y_test)
print(X_test_accuracy)

0.9614349775784753

Building Predictive Model

In [71]:
input_data = ["WINNER!! As a valued network customer you have been selected to receivea £900 prize reward! To claim call 09061701461. Claim code KL341. Valid 12 hours only."]
input_data_feature = feature_extraction.transform(input_data)
prediction = model.predict(input_data_feature)

print("Spam") if prediction[0] ==0 else print("Not Spam")

Spam